body {
    background-color: rgba(0, 0, 0, 0.9);
}

.app {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    width: 500px;
    background-color:white
}

.app-answer {
    border-radius: 20px;
    margin: 10px 20px 0px 20px;
    width: 90%;
    height: 100px;
    text-align: end;
    font-size: 60px;
}

.app-button {
    margin: 10px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: rgba(200, 200, 200, 0.6)
}

.app-button:hover {
    background-color: rgba(255, 255, 255, 0.9)
}

.app-button-equal {
    margin: 25px 10px 10px 10px;
    border-radius: 20px;
    width: 94%;
    height: 100px;
    background-color: rgba(200, 200, 200, 0.6)
}

.app-button-equal:hover {
    background-color: rgba(255, 255, 255, 0.9)
}