body {
    background-color: rgba(0, 0, 0, 0.9);
}

.app {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    width: 500px;
    background-color:white
}

.app-answer {
    width: 99%;
    height: 150px;
    text-align: end;
    font-size: 120px;
}

.app-button {
    margin: 10px;
    border-radius: 20px;
    border-color: rgba(rgb(79, 74, 233), green, blue, alpha);
    width: 100px;
    height: 100px;
    background-color: rgba(200, 200, 200, 0.6)
}

.app-button:hover {
    background-color: rgba(255, 255, 255, 0.9)
}

.app-button-equal {
    margin: 10px;
    border-radius: 20px;
    border-color: rgba(rgb(79, 74, 233), green, blue, alpha);
    width: 100%;
    height: 100px;
    background-color: rgba(200, 200, 200, 0.6)
}

.app-button-equal:hover {
    margin: 10px;
    border-radius: 20px;
    border-color: rgba(rgb(79, 74, 233), green, blue, alpha);
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9)
}